.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body {
  background-color: #e1f0ef;
  font-family: "Lobster", serif;
}
h1{
  font-family: "Lobster", serif;
}